<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Document</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <div class="container p-4">
      <div class="row">
        <div class="col-4 offset-md-4">
          <div class="card">
            <div class="card-body">
              <form
                action="/upload"
                method="POST"
                enctype="multipart/form-data"
              >
                <div class="form-group">
                  <input
                    class="form-control"
                    type="text"
                    name="title"
                    placeholder="Title"
                  />
                </div>

                <div class="input-group mb-3">
                  <div class="custom-file">
                    <input
                      type="file"
                      name="image"
                      class="custom-file-input"
                      id="inputGroupFile"
                    />
                    <label for="" class="custom-file-label" for="inputGroupFile"
                      >File</label
                    >
                  </div>
                </div>

                <form-group>
                  <textarea
                    name="description"
                    class="form-control mb-2"
                    placeholder="Description"
                  ></textarea>
                </form-group>

                <div class="form-group">
                  <button type="submit" class="btn btn-block btn-success">
                    Upload
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
